<div class="jumbotron" style="">
    <h1 style="color: red; font-style: italic">Fidelity</h1>
    <p class="lead" style="color: black; font-style: italic">High Quality API</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Introdução</h2>
        <p>A integração com o sistema Fidelity é feita através de uma API em protocolo HTTP (modelo REST), e os dados são comunicados em formato JSON.</p>
    </div>
    <div class="col-md-6">
        <h2>Métodos:</h2>
        <p>GET / POST / PUT / DELETE</p>
        @*<p><a class="btn btn-default" href="https://localhost:44387/Help">Ir para documentação &raquo;</a></p>*@
        <p>@Html.ActionLink("Ir para documentação »", "Index", "Help", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>
